* {
  border: none;
  border-radius: 7;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  min-height: 0px;
}

window#waybar {
  background: rgba(0, 0, 0, 1.0);
  border-bottom: 1px solid rgba(100, 114, 125, 0.5);
  color: white;
}

window#waybar.hidden {
  opacity: 0.0;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

/* #workspaces button.active { */
#workspaces button.visible {
/* #workspaces button.focused { */
  background: #004040;
  border: 1px solid #009996;

}

#mode {
  background: #000000;
  border-bottom: 1px solid white;
}

#custom-display_layout, #clock, #battery, #cpu, #memory, #network, #wireplumber, #pulseaudio, #custom-spotify, #mode, #disk, #temperature {
  border: 1px solid #009996;
  padding: 0 5px;
  margin: 0 5px;
}

#clock {
  background-color: black;
  color: white;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26A65B;
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: black;
}
}

#submap {
  background-color:  #f53c3c;
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: none;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background: #2ecc71;
  color: #000000;
}

#memory {
  background: #9b59b6;
}

#network {
  background: #2980b9;
}

#network.disconnected {
  background: #f53c3c;
}

#wireplumber {
  background: #f1c40f;
  color: black;
}

#wireplumber.muted {
  background: #90b1b1;
  color: #2a5c45;
}
#pulseaudio {
  background: #f1c40f;
  color: black;
}

#pulseaudio.muted {
  background: #90b1b1;
  color: #2a5c45;
}

#custom-spotify {
  background: #66cc99;
  color: #2a5c45;
}

#tray {
  background-color: #000000;
}

#jack {
  background: #f1c40f;
  color: black;
  border: 1px solid #2a5c45;
}

#jack.xrun {
  background: #f53c3c;
}

#custom-alsa {
  background: #f1c40f;
  color: black;
  border: 1px solid #2a5c45;
}
